body {
  background-color: #eee !important;
}

.main-panel {
  background-color: #eee !important;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #000;
}

.add {
  margin-top: -40px;
  margin-right: 10px;
}

.app {
    background: #eee !important;
}