
.rheader {
	border-bottom: 2px #fff solid;
}

.niceLink {
	cursor: pointer;
}


.consoleBox {
	height: 100%;
	background-color: black;
	padding: 0 10px 0 10px;
  margin-top: 10px;
  margin-bottom: 40px;
	color: #aaa;
	font-size: 0.9em;
}

.muted {
	color: #444;
}r

.highlighted {
  background-color: #ffff00; 
  color: #000;
}

.fructy {
  background-color: #ffff00; 
  color: #000;
}

.dropup {
  margin-left: 10px;
}

.hoursMain  { margin-right: 10px; }

.count { color: #fff; padding: 12px 10px 0 0;}

.tailer {padding-left: 20px;}

#parentChart {
  position: fixed;
  top: 50px;
  height: 140;
  width: 100%;
  background-color: black;
}

#chart {
  margin: 20px 10px 0 0;
  height: 120px;
}

.c3-xgrid, .c3-ygrid{
  stroke-dasharray:none !important;
}

.c3-grid line {
  stroke: #333 !important;
}

.c3 text {
  color: #fff;
  fill: #fff;
}

#chart .c3-chart-arc .c3-gauge-value {
  fill: #aaa;
}

.al {
  color: #aaaacc;
}

.tailer {
  display:none;
}

.c3 svg {
    font: 12px sans-serif !important;
}

.botborder {
  border-bottom: #aaa solid 2px;
}

.c3-circle {
  opacity: 1.0 !important;
}
pre {
    display: block;
    /* padding: 9.5px; */
    margin: 0 0 10px;
    font-size: 10px;
    line-height: 1.42857143;
    color: #aaa;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#pointer {
  height: 88px;
  background-color: white;
  opacity: 0.2;
  width: 10px;
  position: absolute;
  z-index: -1;
  left: -100px;
  display: none;
  top: 8px;
}

.hours-text {
  margin-left: 5px;
}
